.container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

li {
    text-align: justify;
}